.icon-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    margin-left: 22px;
    margin-bottom: 12px;
}

.icon {
    color: #FFF;
    font-size: 20px;
    margin-right: 16px;
    transition: ease 0.4s;
}

.icon:hover {
    transform: scale(1.2);
}

/* media query */

@media screen and (max-width: 1000px) {
    .icon-container {
        top: 0;
        right: 0;
        left: auto;
        margin-top: 18px;
    }

    .icon {
        margin-bottom: 8px;
    }
}