.background {
    width: 38vw;
    height: 100vh;
    background-image: url('/src/assets/abstract-gradient-neon-lights_23-2149279137.jpeg.webp');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}